.mb-s {
  margin-bottom: var(--space-s);
}

.mb-m {
  margin-bottom: var(--space-m);
}

.mb-l {
  margin-bottom: var(--space-l);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-xxl {
  margin-bottom: var(--space-xxl);
}

.mb-xxxl {
  margin-bottom: var(--space-xxxl);
}

.mb-xxxxl {
  margin-bottom: var(--space-xxxxl);
}
